#content {
  min-height: 10px;
  padding: 25px;
  margin: 0%;
  border: solid 5px black;
  background-color: tan;
  font-size: 16px;
}
.chartBox{
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
.padding{
  border: solid 5px black;
}
p{
  text-align: center;
  color: brown;
  font-size: 25px;
  font-family: "Apple Chancery", cursive;
}
h1{
  text-align: center;
  color: black;
  font-size: 55px;
  font-family: "Impact";
}
h2{
  text-align: center;
  color: black;
  font-size: 55px;
  font-family: "Impact";
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
